<div class="product-card" (click)="verDetalle()">
  <div class="product-image-box">
    <img [src]="product?.imagen" [alt]="product?.nombre">
  </div>

  <div class="product-info">
    <span class="category-chip">
      {{ product?.categoria_nombre || 'Producto' }}
    </span>

    <h3>{{ product?.nombre }}</h3>

    <p class="product-description">
      {{ product?.descripcion }}
    </p>

    <div class="product-bottom">
      <span class="price">${{ product?.precio }}</span>

      <button type="button" (click)="comprar($event)">
        Comprar
      </button>
    </div>
  </div>
</div>